
body{
    overflow: scroll;
}

#controls{
    background-color: rgb(246, 249, 251);
    width: auto;
    height: auto;
    border: solid black 1px;
    border-radius: 10px;
    padding: 10px 20px;
    position: absolute;
    left: calc(100% - 300px);
    top: calc(100% - 246px);

}
#sidebar{
    width: 400px;
    height: 100%;
    position: fixed;
    background-color: rgb(246, 249, 251);
    left: -400px;
    display: flex;
    flex-flow: column;
    align-items: center;
    transition: all 500ms;
    overflow-y: scroll;
    row-gap: 20px;
}
#sidebar>*{
    width: 95%;
}

#settings{
    padding: 10px 25px;
    border-radius: 5px;
    border: 2px solid rgb(206, 233, 252);
    z-index: 50;
    color: rgb(206, 233, 252);
    position: absolute;
    left:10px;
    top:45%;
    transform:rotatez(90deg);
    opacity: .4;
    transition: all 500ms;
}
#sidebar.active{
    left:0px!important;
}
#settings.active{
    left:380px!important;
}
#settings:hover, #settings:focus{
    opacity: 1;
    cursor: pointer;
}

/*Side Bar title*/
#sidebar >h3{
    text-align: center;
    margin: 15px;
}
#sidebar>div{
    margin:15px 0px 0px 15px;
}

/*Inputs and Selects */
input, select{
    border:2px lightgray solid;
    border-radius:4px;
    padding: 2px;
    text-align: center;
}

/* Grid Size */
.grid{
    width: 75px;
    height: 25px;
}

.clickable:hover{
    opacity: .7;
    cursor: pointer;
}

/*Type Selection*/
#type{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
#type>i{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    }

i:hover{
    opacity: .3;
    cursor: pointer;
}

.start{
    border: 2px solid green;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start::before{
    color: green;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    font-size: 26px;
}

.stop{
    border: 2px solid red;
    border-radius: 5px;
}
.stop::before{
    color: red;
    position: relative;
    left: 5px;
    top:5.5px;
    font-size: 26px;
}
.slow{
    border: 2px solid blue;
    border-radius: 5px;
}
.slow::before{
    color: blue;
    position: relative;
    left: 6px;
    top:5px;
    font-size: 26px;
    
}

.location{
    border: 2px solid lightblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex!important;
}
.location::before{
    color: lightblue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    font-size: 26px;
}

.location>p{
    text-align: center;
    position: absolute;
    margin-bottom: 0px;
}
.merge{
    border: 2px solid darkgray;
    border-radius: 5px;
}
.merge::before{
    color: darkgray;
    position: relative;
    left: 4px;
    top:6px;
    font-size: 26px;
    
}

/* Spped Settings */
/* The switch - the box around the slider */

#visual_toggle{
    display: flex;
    flex-flow: wrap;
    column-gap: 60px;
}
#visual_toggle>p{
    display: block;
    width:100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  


  /* Statistics */
  #stats>p{
      display: inline-block;
  }

  #sort_stats{
      display: flex;
      flex-direction: row;
      column-gap: 20px;
  }

  .button{
    background-color: transparent;
    border-radius: 5px;
    transition: all 500ms;
  }
  /* Button */
  #buttons{
      width:100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }
  .reset-button{
    padding: 5px 20px;
      color: red;
      background-color: transparent;
      border: red solid 2px;
      border-radius: 5px;
      transition: all 500ms;
  }
  .reset-button:hover{
    color: rgb(246, 249, 251);
    background-color: red;
    border: red solid 2px;
  }
  .run-button{
    padding: 5px 20px;
    color: green;
    background-color: transparent;
    border: green solid 2px;
    border-radius: 5px;
    transition: all 500ms;
}
.run-button:hover{
  color: rgb(246, 249, 251);
  background-color: green;
  border: green solid 2px;
}
.clear-button{

    padding: 5px 20px;
      color: gray;
      background-color: transparent;
      border: gray solid 2px;
      border-radius: 5px;
      transition: all 500ms;
  }
  .clear-button:hover{
    color: rgb(246, 249, 251);
    background-color: gray;
    border: gray solid 2px;
  }




/*  Grid System */
 #grid{
     top:calc(45% - 12.5px);
     left: 45%;
     position: absolute;
     display: flex;
     align-items: center;
     flex-flow: column;
     z-index: -1;

 }

/* Non visited Box */
.nvisit{
    border:1px solid black
}
.visit{
    border:1px solid black;
    background-color: lightcyan;
    animation: appear 200ms ease;
}
.relax{
    border:1px solid black;
    background-color: rgb(86, 139, 139);
    animation: appear 200ms ease;
}

.path{
    border:1px solid black;
    background-color: orange;
    animation: appear 600ms ease;
}
@keyframes dissapear{
    0%{transform:scale(1.0);
    transform: rotateZ(0deg);}
    50%{transform: scale(.8);
        transform: rotateZ(45deg);}
    100%{transform: scale(1.0);
        transform: rotateZ(90deg)}
}
@keyframes appear{
    0%{transform:scale(1.0)}
    50%{transform: scale(1.5);}
    100%{transform: scale(1.0);}
}

.row>*{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.row .start::before{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    
}
.row .stop::before{
    font-size: 20px;
    left: 3px;
    top:3px;
    
}

.row .slow::before{
    font-size: 20px;
    left: 4px;
    top:3px;
    
}
.row .location{
    z-index: 1;
    color:white;
    text-align: center;
    font-size:10px;
}
.row .location::before{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    z-index: -1;
    
}

.row .merge::before{
    font-size: 20px;
    left: 2px;
    top:4px;
    
}

#ports{
    display: flex;
    flex-direction: column
    

}

/*Sorting specific classes*/
#view_port{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    row-gap: 10px;
}
#data{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 1350px;
    height: 700px;
    border: 1px solid black;
    border-radius: 5px;
    z-index: -1;

}
/*Count Sort Specific*/
#count-view{
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    row-gap: 5px;
    column-gap: 5px;
    border: 1px solid black;
    width: 1300px;
    height: 200px;
    z-index: -1;
    border-radius: 5px;

}
#count_array{
    display: flex;
    flex-direction: column;
    row-gap: 1px;
    align-items: flex-start;
    justify-content: center;
}
#count_array>*{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.array_box{
    border: 1px black solid;
    border-radius: 3px;
}
/* End of Count Sort Specific*/
#sort_values{
    word-wrap: break-word;
    word-break: break-all;
    width:300px;
    height: 200px;
    overflow-y: wrap;
    overflow-x: wrap;
}
.value_box{
    border: 1px solid black;
}
.random{
    width: 60px;
    height: 25px;
}

.s_visit{
    background-color: lightcyan;
}

.s_lock{
    background-color: gray;
}
.s_active{
    background-color: orange;
    border-color: orange;
}



/*Tree CSS */
.dot{
    position: absolute;
    background-color: purple;
    width: 3px;
    height: 3px;
    z-index: 10000;
}
.tree_levels{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#tree{
    display: flex;
    flex-direction: column;
    width: 1300px;
    height: 700px;
    border:solid black 1px;
    border-radius: 10px;
    padding: 20px;
    justify-content: space-around;

}

.tree_node{
    border:solid black 1px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 2px;
    background-color: white;
    z-index: 1;
    height: 40px;
    width: 40px;
}
.tree_node_index{
    border:solid black 1px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 2px;
    background-color: white;
    z-index: 1;
    height: 22px;
    width: 22px;
}

.tree_node::after{
    background-color: white;
}


.blank_node{
    display: block;
    width: 40px;
    height: 40px;
}
.tree_edge{
    position: absolute;
    border:solid black 1px;
    background-color: black;
}

.tree_line{
    stroke:red;
    stroke-width: 2px;
}

#tree_values{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 30px;
    align-items: center;
    overflow: wrap!important;
}

#input_tree{
    width:95%;
    height: 100px;
    text-align: start;
}
#add_root,#add_left,#add_right,#add_node{
    display: flex;
    flex-direction: column;
}

#input_left, #input_right,#input_root,#input_node{
    width: 100px;
}
#add_left>button,#add_right>button,#add_root>button,#add_node>button{
    width:100px;
    border:1px solid black;
    margin-top: 10px;

}

.node_clicked{
    background-color: gray;
}

.node_active{
    background-color: orange!important;
}

.node_visit{
    background-color: lightcyan;
}

.node_clickable:hover{
    background-color: gray;
    cursor: pointer;
}

.node_value{
    font-size: 15px;
}

.avl_balance{
    position: absolute;
    z-index: 10000;
    font-size: 12px;
}

/*Main Page CSS*/
#main_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 100px;
}
#tile_body{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    column-gap: 30px;
}
.tile{
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 1px 0px 0px 1px gray ;
    width: 225px;
    height:250px;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.tile:active{
    box-shadow: 0px 0px 0px 0px gray ;
}
.tile_view{
    border: 1px black solid;
    border-radius: 5px;
    width: 175px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.tile_title{
    font-size: 20px;
    text-align: center;
    color: black;
}
/*Main Grid*/
#tile_grid{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_row{
    display: flex;
    flex-direction: row;
}
.main_row>*{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_row>.location::before,.main_row>.start::before{
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}


/*Main Sort*/
#tile_sort{
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
#s30,#s40,#s80,#s60,#s10,#s20,#s70{
    width: 20px;
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
}
#s30{
    height: 30px;
}
#s80{
    height: 80px;
}
#s60{
    height: 60px;
}
#s40{
    height: 40px;
}
#s10{
    height: 10px;
}
#s20{
    height: 20px;
}
#s70{
    height: 70px;
}


/*Graph on Nodes*/
.gn-select_node{
    position: absolute;
    background-color: transparent;
}

.gn-svg{
    position: absolute;
    z-index: -100;
}

path{

    z-index: -90 ;
}